body {
        background: #000;
}

form {
        background: #FFFFFF;
        border-radius: 7px;
        padding: 1em;
        position: absolute;
        top: 45%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        width: 270px;
        height: 400px;

        .form-links {
                display: flex;
                flex-direction: row;
                list-style: none;
                align-items: center;
                justify-content: center;

                li {
                        padding: 12px 40px;
                        margin: 15px 0.5px 30px 0.5px;
                        letter-spacing: 1.5px;

                        &.login {
                                background-color: #000;
                                color: #fff;
                                font-family: 'Montserrat', sans-serif;
                                font-size: 9px;
                        }

                        &.register {
                                background-color: #fff;
                                color: #000;
                                border: 1px solid #000;
                                font-family: 'Montserrat', sans-serif;
                                font-size: 9px;
                        }
                }

        }

        .form-fields {
                display: flex;
                flex-direction: column;
                align-items: center;
                

                input, button {
                        width: 245px;
                        height: 40px;
                        padding-left: 20px;
                        margin: 6px 0;
                        border-radius: 50px;    
                        border: none;
                        background-color: #161825;
                        color: #FFFFFF;
                        font-size: 12px;

                        &::placeholder {
                                color: #FFFFFF;
                                opacity: 20%;
                        }
                }

                .check {
                        position: absolute;
                        right: 30px;
                        top: 118px;
                        color: #219653;
                        font-size: 13px;
                }

                .fa-times {
                        position: absolute;
                        color: red;
                        right: 2px;
                }

                .fa-exclamation-circle {
                        color: rgb(255, 157, 0);
                }

                .password-error {
                        position: absolute;
                        width: 300px;
                        top: 255px;
                        right: -30px;
                        font-size: 9px;
                        color: red;
                        font-family: 'Montserrat', sans-serif;
                        letter-spacing: 0.5px;
                }

                .error {
                        position: absolute;
                        width: 300px;
                        top: 202px;
                        right: -30px;
                        font-size: 9px;
                        color: red;
                        font-family: 'Montserrat', sans-serif;
                        letter-spacing: 0.5px;
                }

                .eye {
                        color: #6C7B8A;
                        position: absolute;
                        right: 30px;
                        top: 173.5px;
                        font-size: 10px;
                }

                button {
                        width: 263px;
                        letter-spacing: 1px;
                        padding: 0 ;
                        margin: 15px 0;
                        background-color: #000;
                        font-size: 10px;  
                }
        }

        .signin {
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Montserrat', sans-serif;
                flex-direction: column;
                font-size: 10px;
                margin-top: 25px;
                letter-spacing: 0.5px;

                i {
                        color: #000;
                        font-size: 17px;
                        margin: 0 5px;

                        &.fa-google{
                                color: #ea4335;
                                font-size: 16px;
                        }

                        &.fa-facebook-square {
                                color: #3b579d;
                        }
                }
        }
        

        
}


a {
        text-decoration: none;
}

